.login {
  width: 100%;
}

.login .container {
  padding: 4rem;
}

/* .login .content {
    border: 1px solid red;
} */

.login .overall_login {
  max-width: 300px;
  min-width: 32%;
  margin: 0 auto;
}

.login .title {
  font-size: 2.2rem;
  font-weight: bolder;
}

.login .subTitle {
  font-size: 1.3rem;
  font-weight: 100;
}

.login hr {
  margin: 1rem 0;
}

.login input {
  width: 99%;
  font-size: 0.89rem;
  padding-left: 5%;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}

.login .email img,
.login .password img {
  max-width: 22px;
  max-height: 22px;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 5px 0 0 5px;
}
.login .email,
.login .password {
  display: flex;
  margin: 1rem 0;
}

.login .signUp {
  color: var(--primary-color);
  cursor: pointer;
}
.login .loginBtn {
  text-align: right;
  margin: 1rem 0;
}

.login .loginBtn button {
  font-size: 0.89rem;
  font-weight: bolder;
  padding: 0.7rem 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.login .loginBtn button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.login .or {
  overflow: hidden;
  text-align: center;
}

.login .or:before,
.login .or:after {
  background-color: #b8b8b8;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.login .or:before {
  right: 0.5em;
  margin-left: -50%;
}

.login .or:after {
  left: 0.5em;
  margin-right: -50%;
}

.login .other_socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem;
}

.login .other_socials button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* -----media-Query-Start---- */
@media screen and (max-width: 768px) {
  .login .container {
    padding: 4rem 2rem;
  }
}

/* -----media-Query-end---- */
