.picked_for_you {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.picked_for_you .container {
}

.picked_for_you .content {
  /* background-color: white; */
}

.picked_for_you .section_one {
  text-align: center;
  padding: 0rem 2rem;
}

.picked_for_you .section_two {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 2.5rem;
  padding: 4rem 0;
}

.picked_for_you .section_two_loading {
  width: 97%;
  margin: 0 auto;
  margin-top: 2.5rem;
  background-color: white;
}

.section_two .card {
  width: 300px;
  max-width: 300px;
  padding: 1rem 0;
  border: 1px solid #e4e4e4;
  cursor: pointer;
}

.picked_for_you .love {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.picked_for_you .image {
  display: flex;
  justify-content: center;
}

.picked_for_you .image img {
  height: 14rem;
  transition: 0.1s ease;
}

.picked_for_you .image img:hover {
  scale: 1.2;
}

.picked_for_you .details {
  padding: 1rem 1rem;
}

.picked_for_you .product_name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picked_for_you .product_category {
  color: #5a5a5a;
  margin-bottom: 0.5rem;
}

.picked_for_you .product_price {
  font-size: 1.5rem;
}

.picked_for_you .decimal {
  font-size: 1.2rem;
}

.picked_for_you .shipping_price {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.picked_for_you .about_product {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.picked_for_you .about_product:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.picked_for_you .price_buy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.picked_for_you .rating {
}

.picked_for_you button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.picked_for_you .price_buy img {
  height: 28px;
  transition: 0.01s ease-in-out;
}

.picked_for_you .price_buy img:active {
  scale: 1.05;
  cursor: pointer;
}

.picked_for_you .price_buy img:hover {
  cursor: pointer;
}

.picked_for_you .loading_error {
  width: 100%;
  text-align: center;
  color: #e4e4e4;
  padding: 2rem 0;
}

.picked_for_you .loading_error img {
  text-align: center;
  max-width: 200px;
}
